{% comment %} <!DOCTYPE html>
<html>
  <head>
    <title>User List</title>
  </head>
  <body>
    <form action="{% url 'adminlogout' %}" method="post">
      {% csrf_token %}
      <button>LogOut</button>
    </form>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Email</th>
          <th>Date Joined</th>
          <th>Last Login</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.date_joined }}</td>
            <td>{{ user.last_login }}</td>
            <td>
              <form action="{% url 'delete_user' user.id %}" method="delete" id="delete-form-{{ user.id }}">
                {% csrf_token %}
                <input type="hidden" name="user_id" value="{{ user.id }}">
                <button type="submit">Delete</button>
            </form>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="6">No users found.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <script>
      function submitDeleteForm(userId) {
        var form = document.getElementById('delete-form-' + userId)
        form.submit()
      }
    </script>
  </body>
</html> {% endcomment %}
<!-- templates/admin.html -->
<!DOCTYPE html>
<html>
<head>
    <title>User List</title>
</head>
<body>
    <form action="{% url 'adminlogout' %}" method="post">
        {% csrf_token %}
        <button>LogOut</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Date Joined</th>
                <th>Last Login</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.date_joined }}</td>
                <td>{{ user.last_login }}</td>
                <td>
                    <form action="{% url 'delete_user' user.id %}" method="post" id="delete-form-{{ user.id }}">
                        {% csrf_token %}
                        <input type="hidden" name="user_id" value="{{ user.id }}">
                        <button type="submit">Delete</button>
                    </form>
                </td>
                <td>
                  <form action="{% url 'useradd' %}">
                    <button type="submit">User Add</button>
                  </form>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">No users found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
