<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <h1>Signup</h1>
    <form action="{% url 'signup' %}" method="post">
        {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" id="username" placeholder="Username" name="username">
        <label for="email">Email address</label>
        <input type="text" id="email" placeholder="Email address" name="email">
        <label for="password">Password</label>
        <input type="text" id="password" placeholder="Password" name="password">
        <button>Signup</button>

    </form>

    {% if msg %}
    <ul>
        {% for message in msg %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    
</body>
</html>